<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        props: {
            msg: String,
        },
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style src="@/styles/hello.scss" lang="scss" scoped></style>